.bg-transition{
  transition: all 6s linear;
}

.neon_effect {
    outline: 1px solid rgba(0, 136, 255, 0.76);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    outline-offset: 6px;
    box-shadow: 0 0 2px #fff, inset 0 0 2px #fff, 0 0 5px #08f, 0 0 15px #08f, 0 0 20px #08f;
    animation: pulsate 1s infinite alternate;
  }
  
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 2px #fff, inset 0 0 2px #fff, 0 0 5px #08f, 0 0 15px #08f, 0 0 20px #08f;
    }
    100% {
      box-shadow: 0 0 3px #fff, inset 0 0 3px #fff, 0 0 8px #08f, 0 0 20px #08f, 0 0 28px #08f;
    }
  }