@import '../node_modules/xterm/css/xterm.css';

.modal1 .ui-modal {
  width: 35%;
  background-color: #0E539C;
  /* for resize limits use min-width, min-height, max-width, max-height in css */
}

.modal-contact .ui-modal {
  width: 30%;
  /* for resize limits use min-width, min-height, max-width, max-height in css */
}

.modal-cmd .ui-modal-overlay, .modal-cmd .ui-modal{
  overflow: hidden !important;
  z-index: 10 !important;
}

.modal-projects .ui-modal{
  width: 55%;
  height: 70%;
}

.modal-cmd .ui-modal{
  width: 52%;
  height: 75%;
  overflow: hidden !important;
}

/* .modals-projects .ui-modal{
  width: 40%;
  height: 60%;
} */
.modal-projects .ui-modal-overlay,.modal-projects .ui-modal {
  z-index: 10 !important;
}
.modals-projects .ui-modal-overlay,.modals-projects .ui-modal {
  z-index: 100 !important;
}
/* colors */
:root {
  --dt-color-primary: #0A3A6D;
}
/* for IE */
.ui-modal-header {
  background-color: #5b9bd5;
}
a{
  text-decoration: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
